section {
    margin-top: 100px;
    margin-left: 1vw;
    display: block;
    font-size:18;
    font-weight:500;
}

.links1 {
    display: grid;
    grid-template-columns: 1;
    padding: 3px;
    margin-left: 1vw;
    text-decoration: none;
}

.title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.subtitle {
    font-size: 22px;
    font-weight: 200;
}

.response {
    margin-top: 0.3em;
    text-align: justify;
}

hr {
    width: 80%;
    margin-left: 0;
    border: 0.5px dashed;
    color: #ce93d8;
}
