

@import url("https://use.typekit.net/sdq2efn.css");
.fit1 {
  font-family: "duos-sharp-variable",sans-serif;
  font-variation-settings: 'wght' 200;
    font-size: 80px;
    margin: 0;
    color: rgb(158, 158, 158);
    transition: all 1000ms ease-in-out;
  }
 .fit1:hover{
    color: rgb(57, 57, 57);
  font-variation-settings: 'wght' 800;
  font-size:100px;
  }

.fit2{
  font-family: "arsenica-variable",serif;
  font-variation-settings: 'wght' 179, 'opsz' 1000;
    font-size: 80px;
    margin: 0;
    color: rgb(158, 158, 158);
    transition: all 1000ms ease-in-out;

}

.fit2:hover {
  font-family: "arsenica-variable",serif;
  font-size:100px;
  color:rgb(152, 231, 255);
  font-variation-settings: 'wght' 740, 'opsz' 500;
}

.fit3 {
  font-family: "cornpile-variable",sans-serif;
  font-variation-settings: 'wght' 500, 'ital' 0;
  font-size: 80px;
  margin: 0;
  transition: all 1000ms ease-in-out;

color: rgb(158, 158, 158);

}

.fit3:hover {
  font-family: "cornpile-variable",sans-serif;
  font-variation-settings: 'wght' 100, 'ital' 15;
  color: rgb(219, 88, 186);
  font-size: 20px;

}

.fit4 {
    font-family: "inge-variable", sans-serif;
    font-variation-settings: "slnt" -20;
    font-size: 100px;
    margin: 0;
    transition: all 1000ms ease-in-out;
    color: rgb(158, 158, 158);
  
  }
  
  .fit4:hover {
    font-family: "inge-variable", sans-serif;
    font-variation-settings: "slnt" 20;
    color: rgb(168, 169, 227);
    font-size: 100px;
  
  }

  div {
    margin-left: 50px;
  }