@import url("https://use.typekit.net/sdq2efn.css");

BODY.enterPage{
    cursor:hand;
  }


body{
  padding: 40px;
  background-color: #000000;  
  flex-direction: column;
  filter: grayscale();
  margin: 0;
  height: 100%;    
  background-image: url("/core-2-int-lab/projects/project-1/assets/fog2.png");
}

.container{
    display: flex;
    justify-content: left;
  
}


p {
  font-family: 'monarcha', serif;  
  font-size: 20px;
  color: rgba(255,255,255,.70);
}

::selection {
    text-shadow: rgb(186, 186, 186) 0px 0px 10px, rgb(255 255 255) 0px 0px 20px, rgb(0 0 0) 0px 0px 30px, rgb(0 0 0) 0px 0px 40px;
    color: black !important;
}