

@import url("https://use.typekit.net/sdq2efn.css");
.fit {
  font-family: "duos-sharp-variable",sans-serif;
  font-variation-settings: 'wght' 200;
    font-size: 80px;
    margin: 0;
    color: rgb(158, 158, 158);
    transition: all 1000ms ease-in-out;
  }
 .fit:hover{
    color: rgb(57, 57, 57);
  font-variation-settings: 'wght' 800;
  font-size:100px;
  }

.fit2{
  font-family: "arsenica-variable",serif;
  font-variation-settings: 'wght' 179, 'opsz' 1000;
    font-size: 80px;
    margin: 0;
    color: rgb(158, 158, 158);
    transition: all 1000ms ease-in-out;
}

.fit2:hover {
  font-family: "arsenica-variable",serif;
  font-size:100px;
  color:rgb(152, 231, 255);
  font-variation-settings: 'wght' 740, 'opsz' 500;
}

