@font-face {
    font-family: 'Magiel';
    src: url('Magiel-Black.woff2') format('woff2'),
        url('Magiel-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

