body,
html {
  background-color: #f8e6d6;
}
.topbar {
  height: 100px;
  border-bottom: 3px solid #bf7543;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8e6d6;
  z-index: 100;
}
.topbar .btn:not(:last-child) {
  border-right: 3px solid #bf7543;
}
.topbar .btn.show {
  position: relative;
}
.topbar .btn.show ul {
  position: absolute;
  left: 0;
  top: 100px;
  display: block;
  width: 100%;
  z-index: 999;
  border: 1px solid #bf7543;
  box-sizing: border-box;
}
.topbar .btn.show ul li:nth-child(even) {
  background-color: #f8e6d6;
}
.topbar .btn.show ul li:nth-child(odd) {
  background-color: #bf7543;
}
.topbar .btn.show ul li:nth-child(odd) a {
  color: #fff;
}
.topbar .btn ul {
  display: none;
}
.topbar .btn ul li a {
  text-align: center;
  line-height: 100px;
  height: 100px;
  display: block;
  color: #bf7543;
  font-size: 30px;
}
.topbar .btn .link:hover {
  background-color: #bf7543;
  color: #fff;
}
.topbar .btn .btns {
  line-height: 100px;
  height: 100px;
  display: block;
  color: #bf7543;
  font-size: 30px;
}
.topbar .btn .btns img {
  display: block;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  height: 60px;
}

/* homepage */
.container {
  align-items: center;
  background-color: var(--copper);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* width: 100vw; */
  width: 100%;
}

.container .overlap-group {
  max-width: 100%; /* Added */
  height: 100vh;
  position: relative;
  width: 700px;
}


.container .title {
  color: var(--white);
  font-family: var(--font-family-bandeins_strange-boldextended_half);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.container .squirrelicon {
  max-width: 95%; 
  max-height: 95%; 
  height: 821px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -50%); /* Added */
  width: 700px;
  mix-blend-mode: multiply;
}

.down {
  align-self: center;
  height: 31px;
  margin-left: 0;
  width: 53px;
  margin-bottom: 5vh;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

/* page2 */
.next-section {
  height: 100vh;
  width:100vw;
  /* Add any other styles you need for the next section */
}

.page2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  /* height: 982px; */
  padding: 21.1px 202px;
  flex-direction: column;
  padding-top: 50px;
}
.page2 > div {
  display: flex;
  align-items: center;
  margin-bottom: 87px;
}
.page2 > div h1 {
  margin: 0 40px 0;
  width: 10vw;
  font-size: 1.5vw;
}
.page2 > div p {
  font-size: 18px;
  line-height: 35px;
  flex: 1;
  color: #bf7543;
  font-family: f2;
}
.left-col {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 132px;
  margin-left: 24px;
  margin-top: 0; /* Modify this value */
  min-height: 514px;
  width: 78px;
}

.middle-col {
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 46px;
  margin-top: 0; /* Modify this value */
  min-height: 485px;
  width: 174px;
}
.middle-col h1 {
  line-height: 83px;
}
.right-col {
  align-items: flex-start; /* Modify this value */
  margin-left: 41px;
  margin-top: 0; /* Modify this value */
  min-height: 753px;
  width: 745px;
}

.vector {
  height: 83px;
  width: 78px;
}

.vector-container {
  height: 84px;
  position: relative;
  width: 78px;
}

.vector-1 {
  height: 83px;
  left: 0;
  /* position: absolute; */
  top: 0;
  width: 78px;
}

.vector-2 {
  height: 83px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 78px;
}

/* .contents-container {
  height: 54px;
  margin-top: 161px;
  position: relative;
  width: 174px;
}

.squirrel-census {
  letter-spacing: 0;
  line-height: normal;
  min-height: 15vh;
  width: 40vw;
}

.contents-container {
  height: 148px;
  margin-top: 30px;
  position: relative;
  width: 745px;
} */

.contents-text {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 745px;
}

/* .squirrel-info {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 68px;
  min-height: 112px;
  width: 745px;
} */

.vector-5 {
  height: 31px;
  /* margin-right: 249px;
  margin-top: 158px; */
  width: 53px;
}

.left-col,
.middle-col,
.right-col {
  display: flex;
  flex-direction: column;
}

/* General styles for the content and headings */

.content {
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.content h1 {
  line-height: 90px;
  padding-top: 50px;
  height: 90px;
  color: #352e2b;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
}

/* Styles for the color indicators on the squirrel images */

.content .list li {
  position: relative;
  transform: scale(0.8);
}
.content .list li a {
  display: block;
  padding: 10px;
}
.content .list li img {
  height: 135px;
  display: block;
  margin: auto;
}
.content .list li i {
  position: absolute;
  left: 61px;
  top: 22px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
}
.content .list li .White {
  background-color: #fff;
}
.content .list li .Cinnamon {
  background-color: #a08579;
}
.content .list li .Gray {
  background-color: Gray;
}

.content .list li .Black {
  background-color: rgb(33, 33, 33);
}

/* .content ul li {
  width: 20%;
} */

/* Styles for the tip box */

.tipbox {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 10vw;
}

.tipbox .tag {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  margin: 20px;
}

.tipbox .fur-colors,
.tipbox .highlight-colors {
  display: flex;
  align-items: flex-end;
  padding: 10px 0;
}

.tipbox .fur-colors span,
.tipbox .highlight-colors span {
  margin-left: 10px;
}

.tipbox .fur-colors img {
  height: 10vh;
}
/* Styles for color indicators in the tip box */

.color1 {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
}
.color2 {
  background-color: #ccc1bf;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}
.color3 {
  background-color: #a08579;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}
.color4 {
  background-color: #352e2b;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

/* sightings page */

.content2 {
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
  padding-top: 100px;
  margin-bottom: 100px;
}

.box-container {
  /* Add CSS for the new container */
  display: flex;
  justify-content: space-between;
}

.content2 h1 {
  line-height: 90px;
  padding-top: 40px;
  height: 90px;
  color: #352e2b;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
}
.content2 .list .box {
  width: 45%;
}
.content2 .list .box h2 {
  color: #000;
  font-family: 'f2';
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.content2 .list .box .con1 {
  min-height: calc(50vh - 100px);
}
.content2 .list .box .con2 {
  min-height: calc(40vh - 100px);
}
.content2 .list .box .con ul li {
  margin: 10px;
  position: relative;
}
.content2 .list .box .con ul li .goods {
  height: 80px;
}
.content2 .list .box .con ul li i {
  position: absolute;
  left: 30px;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
}
.content2 .list .box .con ul li .White {
  background-color: #fff;
}
.content2 .list .box .con ul li .Cinnamon {
  background-color: #a08579;
}
.content2 .list .box .con ul li .Gray {
  background-color: Gray;
}
.shadowbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.shadowbox .card {
  position: relative;
  width: 400px;
  min-height: 300px;
  background-color: #f8e6d6;
  border: 2px solid #bf7543;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.shadowbox .card p {
  color: #333;
  line-height: 30px;
  font-size: 16px;
  font-family: 'f2';
}

#instructionsShadowbox .card p {
  color: #333;
  line-height: 20px;
  font-size: 16px;
  font-family: 'f2';
}

#instructionsShadowbox .card h2 {
  color: #bf7543;
  font-weight: bold;
  line-height: 30px;
  font-size: 22px;
  font-family: 'f1';
  margin-bottom: 10px;
}

.shadowbox .card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.shadowbox .card li {
  width: auto;
  font-size: 16px;
  line-height: 2;
}

.shadowbox .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #bf7543;
  cursor: pointer;
}

/* overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  backdrop-filter: blur(10px); /* add blur effect */
  display: none;
  z-index: 1000; /* ensure it's above other content */
}

/* sighting page */

.sighting {
  width: 50vw;
  height: 60vh;
  box-sizing: border-box;
  background: #ffffff;
  border: 3px solid #bf7543;
  margin: 10vh auto 0;
}

.form1 {
  display: flex;
  justify-content: center;
  padding: 12vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  display: inline-block;
  width: 120px;
  margin-bottom: 10px;
  font-family: 'f2';
  font-size: 20px;
}

input[type='text'] {
  padding: 5px;
  border: 2px solid #bf7543;
  width: 300px;
  height: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex: 1;
}

.form-group label {
  margin-right: 20px;
  margin-top: 10px;
}

.form-group textarea {
  padding: 5px;
  border: 2px solid #bf7543;
  width: 300px;
  height: 40px;
}
