/* @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"); */
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/624336c60d1f98fcd0ddf1b0.624336c85a542b7d2d4734c0.80t4Pus.hcp.png");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Manrope:wght@200;300;400;500&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

@font-face {
  font-family: "IM FELL French Canon-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IMFellFrenchCanon-Regular.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.text{
  font-family: 'Crimson Text', serif;
  font-size: 13;
}

.moon {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
}

.moon-left {
  left: 50%;
  transform: translateX(-50%);
}

.moon-right {
  right: 50%;
  transform: translateX(50%);
}
